{
  "parser": "babel-eslint",

  "ecmaFeatures": {
    "jsx": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "defaultParams": true,
    "modules": true,
    "restParams": true
  },

  "rules": {
    "strict": [2, "global"],
    "no-unused-vars": [2, {"vars": "all", "args": "all"}],
    "quotes": [2, "single"],
  }
}
